@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@layer base{
    :root{
         --custom: ['Roboto', sans-serif];
    }
}
body {
    margin: 0;
    font-family: Roboto;
    
  }